# Android
android/MusicalLights/*.iml
android/MusicalLights/.gradle
android/MusicalLights/local.properties
android/MusicalLights/.idea/workspace.xml
android/MusicalLights/.idea/libraries
android/MusicalLights/.DS_Store
android/MusicalLights/build
android/MusicalLights/captures
android/MusicalLights/.externalNativeBuild

